#menu {
    width: 3em;
    height: 3em;
    position: absolute;
    right: 1em;
    bottom: 3em;
    border: 8px solid green;
    background-color: darkgreen;
    color: white;
    border-radius: 50%;
    z-index: 2;
}