#menu {
    width: 3em;
    height: 3em;
    position: relative;
    margin: 0 auto;
    margin-top: 30vh;
    margin-left: 1vh;
    border: 8px solid rgb(126, 248, 78);
    background-color: rgb(151, 255, 125);
    color: white;
    border-radius: 50%;
    z-index: 1;
}