#shake-tree {
  position: absolute;
  bottom: 10vh;
  opacity: 1;
  z-index: 5;
  width: 100%;
}

#shake-tree h2 {
  margin: 0;
  text-align: center;
  font-size: 8vw;
  color: #ffc04c;
  text-shadow: 1px 1px 8px black;
  font-family: monospace;
}

.fade-in {
  animation: fade-in 1s ease-out both;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fade-out 1s ease-out both;
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
